#footer_main
{
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer_element
{
    height: 3rem;
    margin-right: 5rem;
}
.footer_image
{
    height: 1rem;
    width: 1rem;
}