#project_main
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.project
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80%;
}
.elements
{
    height: 100%;
    width: 100%;
}
.elements li
{
    margin-bottom: 1rem;
    font-size: 19px;
}
.elements h1
{
    margin-top: 3rem;
}
.montserrat-aboutme {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
}